body{
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #333;
  background-color: #f7f7f7 !important;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  background-color: #f7f7f7;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Surlignage des lignes d'erreur dans le DataGrid */
.row-error {
  background-color: #ffeaea !important;
}

/* Styles pour les statuts des torrents */
.status-active {
  color: green;
  font-weight: bold;
}

.status-stopped {
  color: orange;
  font-weight: bold;
}

.status-completed {
  color: blue;
  font-weight: bold;
}

.status-unknown {
  color: grey;
  font-weight: bold;
}

